* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
#footer {
  padding: 60px 0 30px 0;
  background: rgba(1, 9, 56, 1);
  height: 420px;
}
.blocks {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.block1Start {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 50px;
}
.first p {
  color: white;
  font-size: 12px;
  width: 198px;
  padding: 15px 0;
}
.first h5 {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 11px;
}
.time {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
}
.time h6 {
  color: white;
  font-size: 12px;
  padding: 5px 0;
}
.time span {
  color: white;
  font-size: 12px;
}
.navigate {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 40px;
}
.navi {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.navi a {
  font-size: 15px;
}
.vkTg {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.partners {
  padding: 70px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 900px;
}
.partners h1 {
  color: white;
  font-size: 22px;
  margin-right: 10px;
}

.block2 {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  /* gap: 15px; */
}
.block2 h1 {
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
}
.input1 {
  width: 290px;
  height: 30px;
  padding: 5px 8px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
}
.input2 {
  width: 290px;
  height: 60px;
  padding: 0 8px 14px 8px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkbox p {
  color: white;
  font-size: 12px;
}
.block2 button {
  margin: 10px 0;
  width: 120px;
  height: 45px;
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: white;
}
.app-img {
  margin-top: 40px;
}
.app-img img {
  width: 147px;
}
